@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal&display=swap');

$primary-color: #542E90;
$secondary-color: #FFF100;

body{
    font-family: 'Montserrat', sans-serif;
}

.section-padding {
    padding: 0 3%;
}

.top-banner {
    background: $secondary-color;
}
.bottom-banner {
    background: #000;
    color: #fff;
}